.navbar {
  z-index: 999;
  display: flex;
  border: 1.3px solid black;
  padding-top: 9px;
  margin: 10px;
  /* background: linear-gradient(to right, #ffe600, #00ff00, #0000ff); */
  box-shadow: -3px 3px 9px black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  backdrop-filter: blur(15px);
}
.logo {
  width: 42px;
  margin-left: 15px;
  border-radius: 9px;
}
.firstFase {
  display: flex;
}

.secondFase {
  display: flex;
  gap: 16px;
  cursor: pointer;
}
.btn {
  background-color: #0a090a;
  font-weight: 600;
  color: aliceblue;
}
